/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  text-align: center;
}


div#Fullcontent {
	background-color: #BA6B76;
	width: 800px;
	min-width: 300px;
	margin: 40px auto;  
 }
 
 div#Header {
 	padding-top: 5px;
	margin: 0 auto;      
}
 
div#Content {
	min-height: 500px;
	max-height: 600px;
	width:100%;
	overflow:scroll;
	
}

div#Navigator {
	overflow:scroll;
}

div#Buttonzone {
	float: left;
	min-height: 400px;
	max-height: 500px;
	width: 30%;
}

div#Contentzone {
	float: right;
	min-height: 450px;
	max-height: 500px;
	width:70%;
	overflow:scroll;
	
}

div#Footer {
	clear: both;
	padding: 10px 0;
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
	border-top: 1px dashed silver;
	font-size: 80%;
	text-align: center;
	
	background: #FFCCCC;
}

.menubar{
	background-color: #741F30;
	padding: 5px 10px;
	font-weigth: bold;
	color: #fffff;
}

.hbuttons{
	float:left;
	/*width: 20%;*/
	color: black;
}

.hcontent{
	/*width: 50%;*/
	float: left;
}

.hcontent2{
	width: 50%;
	float: right;
}

.buttonwidth{
	width: 180px;
	margin-top: 15px;
}

.infohead{
text-decoration: underline;
}

.textboxsize{
	width: 450px;
	margin-right: auto;
	margin-left: auto;
	height: 50px;
}

.profiletabPanel{
	width:800px;
	max-height:400px;
	overflow:scroll;
}


/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.gwt-StackPanel {
  margin: 10px 10px 10px 10px;
}

.gwt-MenuBar-horizontal{
	background: #7D1A2F url(images/hborder.png) repeat-x 0px -2003px !important;
}
.gwt-MenuItem{
	padding: 5px 10px !important;
    vertical-align: bottom !important;
    color: white !important;
    font-weight: bold;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.property {
  font-style: italic;
}

.propertyhead {
  border-bottom: 2px solid red;
  font-style: italic;
}

.savePanel {
  margin: 10px 0px 15px 0px;
}

.infpan{
	padding-top: 8px;
}

.buttonmargin{
	margin: 10px 10px 10px 10px;
}