/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}


div#Fullcontent {
	width: 800px;
	min-width: 300px;
	border: 1px solid red;
	margin: 0 auto;  
 }
 
 div#Header {
	margin: 0 auto;      
}
 
 div#Content {
	min-height: 400px;
	max-height: 500px;
	padding: 1em 1em;
	overflow:scroll;
}

div#Navigator {
}

div#Trailer {
	clear: both;
	padding: 10px 0;
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
	border-top: 1px double red;
	font-size: 80%;
	text-align: center;
}

div#Buttonzone {
	float: left;
	min-height: 400px;
	max-height: 500px;
	width: 30%;
}

div#Contentzone {
	float: right;
	min-height: 400px;
	max-height: 500px;
	overflow: scroll;
	width:70%;
}

.hbuttons{
	float:left;
	width: 20%;
	color: black;
}

.hcontent{
	float:right;
	width: 50%;
	color: yellow;
}

.buttonwidth{
	width: 180px;
	margin-top: 15px;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
