/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #7D1A2F;
  text-align: center;
}


div#Fullcontent {
	/*background-color: #BA6B76;*/
	width: 1000px;
	min-width: 300px;
	margin: 40px auto;  
 }
 
 div#Header {
 	padding-top: 5px;
	margin: 0 auto;      
}
 
div#Content {
	min-height: 500px;
	max-height: 500px;
	width:100%;
	overflow:scroll;
	
}

div#Navigator {
	overflow:scroll;
}

div#Buttonzone {
	float: left;
	min-height: 400px;
	max-height: 500px;
	width: 200px;
}

div#Contentzone {
	float: right;
	min-height: 500px;
	max-height: 500px;
	width:700px;
	overflow:scroll;
	
}

div#Footer {
	clear: both;
	padding: 10px 0;
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
	border-top: 1px dashed silver;
	font-size: 80%;
	text-align: center;
	
	background: #BA6B76;
}

.username{
	font-weigth: bold;
	color: #BA6B76;
	font-size: 50px;
}

.liebetext{
	font-weigth: bold;
	color: #BA6B76;
	font-size: 60px;
}

.contentpanel{
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

.menubar{
	background-color: #741F30;
	padding: 5px 10px;
	font-weigth: bold;
	color: #fffff;
}

.hbuttons{
	float:left;
	/*width: 20%;*/
	color: black;
}

.hcontent{
	/*width: 50%;*/
	float: left;
}

.contentinfo{
	/*width: 50%;*/
	float: right;
	margin-right: 20px;
}

.addinfo{
	width: 50%;
	float: left;
	margin-top: 53px;
}
.hcontent2{
	width: 50%;
	float: right;
}

.buttonwidth{
	width: 180px;
	margin-top: 15px;
}

.infohead{
text-decoration: underline;
}

.textboxsize{
	width: 450px;
	margin-right: auto;
	margin-left: auto;
	height: 50px;
}

.button{
	color: #fff;
	margin: 15px 0 0px 15px;
    padding: 5px 7px;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
    font-size: small;
   background-color: #741F30;
   border: none !important;
}

.labelstyle{
	color: #741F30;
	font-weight: bold;
	font-size: 17px;
}

.button:hover {
    border-color: #939393;
}

.profiletabPanel{
	width:100%;
	max-height:400px;
}

.searchprofileBPanel{
	background-color: #7D1A2F;
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.addsppanel{
	margin-left: 20px;
	margin-top: 24px;
}

.newSPstyle{
	background-color: #FFCCCC;
	padding-top: 10px;
	padding-bottom: 4px;
	margin-top: 21px;
}

.infospanel{
	margin-left: 13px;
	margin-top: 30px;
}

.infospanelprof{
	max-height: 500px;
}

.panelscenter{
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
}

.allusersstyle{
	margin-right: auto;
	margin-left: auto;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.gwt-StackPanel {
  margin: 10px 10px 10px 10px;
}

.gwt-MenuBar-horizontal{
	background: #7D1A2F !important;
}

.gwt-MenuBar-vertical{
	background: #7D1A2F !important;
}

.gwt-MenuItem{
	padding: 5px 10px !important;
    vertical-align: bottom !important;
    color: white !important;
    font-weight: bold;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.property {
  font-style: italic;
}

.propertyhead {
  border-bottom: 2px solid red;
  font-style: italic;
}

.savePanel {
  margin: 10px 0px 15px 0px;
}

.infpan{
	padding-top: 8px;
}

.spall{
	margin-top: 24px;
	overflow:scroll;
}

.styleinfospanel{
	overflow:scroll;
	max-height: 500px;
}

.buttonmargin{
	margin: 10px 10px 10px 10px;
	background: #7D1A2F;
	border: none;
	color: #fff;
}

.profil{
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

.infoofsp{
	margin-left: 170px;
	margin-top: 45px;
}

.addinfoPanel{
	padding-left: 30px;
}

/* .showSp{
	margin-top: 20px;
}*/

.headlinesp{
	color: #7D1A2F;
	font-size: 20px;
}

.gwt-MenuBar .gwt-MenuItem-selected {
    background: none !important;
}

.gwt-TabPanelBottom{
	border-color: none !important;
	border-style: none !important;
}

.gwt-TabBar{
	background: #7D1A2F !important;
}

.gwt-TabBarItem{
	background: #BA6B76 !important;
}

.gwt-TabBarItem-selected{
	background: white !important;
}

.datePickerPreviousButton, .datePickerNextButton, .datePickerPreviousYearButton, .datePickerNextYearButton{
	color: #BA6B76 !important;
}

.datePickerDayIsValue{
	background-color: #BA6B76 !important;
	color: #fff !important;
}

.datePickerDayIsToday{
	background: #BA6B76 !important;
}

.datePickerDayIsHighlighted{
	background: #BA6B76 !important;
	color: #fff !important;
}

.cellStyle{
	background: #BA6B76 !important;
}
